

div.inmatning{
	width:40%;
	
	float:left;
	border:3px solid navy;
	overflow: scroll;
}

div.angularresult{
	position:relative;
	float:left;
}

div.resultat{
	width:30%;
	height:500px;
	float:right;
	border:3px solid black;
	overflow: scroll;
}

input{
	background:#DDDDDD;
}
input:hover{
	background:#FFFFFF;
}
output.resultatrakning{
	float:right;
}

.smallFont{
	font-size: 8px;
}
.normalFont{
	font-size:12 px;
}
